*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
}




body{
    background-color: black;
    overflow-x:hidden;

}

.video-bg{
    position: relative;
    overflow: hidden;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: -1;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content:center;
    padding: 10px 30px;
    gap: 20px;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.ham{
    display: none;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.nav-bar li{
    list-style: none;
    color: black;
    cursor: pointer;
    height: 50px;
    width: auto;
    justify-content: center;
}
.nav-bar a{
    color: white    ;
    text-decoration: none;
    font-size: 25px;
}

.page-link ul li a:hover{
    color: cornflowerblue;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;

}

.technika-img{
    width: 100px;
}

.fa-solid.fa-bars{
    color: white;
    font-size: 25px;
}

@media (max-width: 391px) {
    .page-link{
        display: none;
    }
    .ham{
        display: block;
    }
}

/* body */






@media (max-width: 391px) {
    .head-tech{
        padding-top: 0px;
    }
}


.logo img {
    position: absolute;
    margin-top: 80px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    overflow: hidden;
}

.technika-logo{
    width: 200px;
    height: auto;
}
@media (max-width: 391px) {
    .technika-logo{
        width: 100px;
    }
    .logo img{
        top: 40%;
        left: 53%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
}

.img1{
    width: 500px;
    height: auto;
    animation: img1 50s linear infinite;
}
@keyframes img1{
0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}
@media (max-width: 391px){
    .img1{
        width: 260px;
    }
}


.img2{
    width: 750px;
    height: auto;
    animation: img2 10s linear infinite;
}
@keyframes img2{
0% {
    transform: translate(-50%, -50%) rotate(360deg);
}
100% {
    transform: translate(-50%, -50%) rotate(0deg);
}
}
@media (max-width: 391px){
    .img2{
        width: 380px;
    }
}


.img3{
    width: 1000px;
    height: auto;
    animation: img3 90s linear infinite;
}
@keyframes img3{
0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}
@media (max-width: 391px){
    .img3{
        width: 500px;
    }
}








