*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
}




body{
    background-color: black;


}
#image {
  position: absolute;
}

.video-bg{
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    position: fixed;

}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content:center;
    padding: 10px 30px;
    gap: 60%;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: auto
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.nav-bar li{
    list-style: none;
    color: black;
    cursor: pointer;
    height: 50px;
    width: auto;
    justify-content: center;
}
.nav-bar a{
    color: white    ;
    text-decoration: none;
    font-size: 25px;
}

.page-link ul li a:hover{
    color: cornflowerblue;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;

}

.technika-img{
    width: 100px;
}








.head-tech{
    text-align: center;
    color: white;
    z-index: 10;
    padding-top: 280px;
}



.logo img {
    position: absolute;
    margin-top: 80px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.technika-logo{
    width: 200px;
    height: auto;
}

.img1{
    width: 500px;
    height: auto;
    animation: img1 50s linear infinite;
}
@keyframes img1{
0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}


.img2{
    width: 750px;
    height: auto;
    animation: img2 10s linear infinite;
}
@keyframes img2{
0% {
    transform: translate(-50%, -50%) rotate(360deg);
}
100% {
    transform: translate(-50%, -50%) rotate(0deg);
}
}

.img3{
    width: 1000px;
    height: auto;
    animation: img3 90s linear infinite;
}
@keyframes img3{
0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(360deg);
}
}








